/* RequestDetails.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .details-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: left;
  }
  
  .details-card h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .details-card p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .details-card strong {
    font-weight: bold;
  }
  

  .comment-section {
    margin-top: 40px;
  }
  
  .comment-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .comment-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .comment-list li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .comment-form {
    display: flex;
    flex-direction: column;
  }
  
  .comment-input {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 1rem;
    resize: vertical;
  }
  
  .comment-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .comment-button:hover {
    background-color: #0056b3;
  }
  